extends ../layouts/main.pug
block title
  title Projects

block content
  div(class="container projects-page show-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-12")
          h1 Show Project
          p.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum incidunt numquam eum tempore cumque necessitatibus animi repellendus ipsam. Quis placeat, nisi aspernatur architecto est dolore vel rem vero accusamus quibusdam!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere error, totam delectus vel enim perferendis esse tempora, nisi consequuntur est unde deserunt minima repellat cumque explicabo aspernatur, aliquam sit accusamus.
          div(class="col-md-4")
            img(src='https://cdn.dribbble.com/users/115310/screenshots/3829456/barrel-minimal_1x.jpg')

          div(class="col-md-4")
            img(src='https://cdn.dribbble.com/users/115310/screenshots/3829456/barrel-minimal_1x.jpg')

          div(class="col-md-4")
            img(src='https://cdn.dribbble.com/users/115310/screenshots/3829456/barrel-minimal_1x.jpg')

        div(class="col-md-12")
          img(src='https://cdn.dribbble.com/users/115310/screenshots/3829456/barrel-minimal_1x.jpg')

        
        